<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <!-- Navigation -->
    <% include ../static/partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container  ">

        <% include ../static/partials/messages.ejs %>

        <!--  Header -->
        <header class="row centered-form center-block text-center">
          <section class="container col-md-12 col-md-offset-1 text-dark">

          <div>
            <h1 class="display-3">The Grocery List</h1>

          </div>
        </header>
        <!-- Page Features -->
        <!-- /.row -->
        <section class="row centered-form center-block text-center">

          <section class="container col-md-10 col-md-offset-1 border  rounded p-3 mb-2 bg-info text-white"">
            <h2> New List </h2>
            <form action="/lists/create" method="post">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
                <small class="text-dark" id="titleHelp">List title cannot be empty.</small>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" name="description" aria-describedby="descriptionHelp" placeholder="Enter Description">
              </div>
              <div class="form-group">
                <label for="private">View:</label>
                 <select name="private"  id="private">
                   <option value=false>Public</option>
                   <option value=true>Private</option>
                 </select>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

          </section>
        </section>


      </main>
      <!-- /.container -->

      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>
