<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <!-- Navigation -->
    <% include ../static/partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container border-success ">

        <!--  Header -->
        <header class="row centered-form center-block text-center">
          <section class="container col-md-12 col-md-offset-1 border border-success rounded p-3 mb-2 text-dark">

          <div>
            <h1 class="display-3">The Grocery List</h1>

          </div>
        </header>
        <!-- Page Features -->
        <!-- /.row -->
        <section class="row centered-form center-block text-center">

          <section class="container col-md-10 col-md-offset-1 border  rounded p-3 mb-2 bg-success text-white"">

            <h2 class="card-title">Groceries</h2>
            <p class="card-text ">

              <ul class="list-group">
  <!-- #1 -->
          <% groceries.forEach((grocery) => { %>
  <!-- #2 -->
            <li class="list-group-item">
              <a href="/groceries/<%= grocery.id %>">
                <%= grocery.item %>
                <%= grocery.quantity%>
                <%= grocery.note %>
              </a>
            </li>
          <% }) %>
        </ul>

          </section>
        </section>


      </main>
      <!-- /.container -->

      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>
